/* media */
$media-list: (
		'xxs': 375,
		'xs': 560,
		'sm': 767,
		'md': 992,
		'mdHeader': 1130,
		'lg': 1279,
		'xl': 1599,
		'xxl': 1920
);

/* шрифты */
$mainFont: 'HelveticaNeueCyr', sans-serif;

/* цвета */
$fonBlack: #0C2448;
$black: #212A39;
$green: #25CA6A;
$grey: rgba(12, 36, 72, 0.33);
$greyFon: #EFEFEF;
$blue: #051630;
$white: #fff;
$red: #FF3E41;



$greyBlack: #7F8589;
$greyLight: #F5F5F5;
$mainDark: #2A2A2A;
