//- .product-card__slider__wrap.product-card__slider__wrap--desc
.product-card__slider
  .swiper-container.gallery-main
    .swiper-wrapper

    .swiper-buttons.gallery-main--swiper-buttons
      .swiper-button-prev.gallery-main-prev
      .swiper-button-next.gallery-main-next  
  .gallery-thumbs__section
    .swiper-container.gallery-thumbs
      .swiper-wrapper

      .gallery-thumbs__counter +13
      .gallery-thumbs__swiper-buttons    
        .swiper-button-prev.gallery-thumbs-prev
        .swiper-button-next.gallery-thumbs-next
  .gallery-main__storage
    .gallery-main__slide.swiper-slide(href="img/card__picture__1.png" srcset="img/card__picture__1.png 2x" data-filter="01" data-fancybox="product-card__slider"  data-caption="Большое нзвание для фото 1")      
      <img src="img/card__picture__1.png", srcset="img/card__picture__1.png 2x" alt="">
    .gallery-main__slide.swiper-slide(href="img/card__picture__2.png" srcset="img/card__picture__2.png 2x" data-filter="01" data-fancybox="product-card__slider"  data-caption="Большое нзвание для фото 2")
      <img src="img/card__picture__2.png", srcset="img/card__picture__2.png 2x" alt="">
    .gallery-main__slide.swiper-slide(href="img/card__picture__3.png" srcset="img/card__picture__3.png 2x" data-filter="01" data-fancybox="product-card__slider"  data-caption="Большое нзвание для фото 1")
      <img src="img/card__picture__3.png", srcset="img/card__picture__3.png 2x" alt="">
    .gallery-main__slide.swiper-slide(href="img/card__picture__4.png" srcset="img/card__picture__4.png 2x" data-filter="01" data-fancybox="product-card__slider"  data-caption="Большое нзвание для фото 1")
      <img src="img/card__picture__4.png", srcset="img/card__picture__4.png 2x" alt="">
    .gallery-main__slide.swiper-slide(href="img/card__picture__5.png" srcset="img/card__picture__5.png 2x" data-filter="01" data-fancybox="product-card__slider"  data-caption="Большое нзвание для фото 1")
      <img src="img/card__picture__5.png", srcset="img/card__picture__5.png 2x" alt="">
    .gallery-main__slide.swiper-slide(href="img/card__picture__6.png" srcset="img/card__picture__6.png 2x" data-filter="01" data-fancybox="product-card__slider"  data-caption="Большое нзвание для фото 1")
      <img src="img/card__picture__6.png", srcset="img/card__picture__6.png 2x" alt="">
    
    .gallery-main__slide.swiper-slide(href="img/product-card__2.png" srcset="img/product-card__2.png 2x" data-filter="02" data-fancybox="product-card__slider"  data-caption="Большое нзвание для фото 1")      
      <img src="img/product-card__2.png", srcset="img/product-card__2.png 2x" alt="">
    .gallery-main__slide.swiper-slide(href="img/product-card__2.png" srcset="img/product-card__2.png 2x" data-filter="02" data-fancybox="product-card__slider"  data-caption="Большое нзвание для фото 1")      
      <img src="img/product-card__2.png", srcset="img/product-card__2.png 2x" alt="">
    .gallery-main__slide.swiper-slide(href="img/product-card__2.png" srcset="img/product-card__2.png 2x" data-filter="02" data-fancybox="product-card__slider"  data-caption="Большое нзвание для фото 1")      
      <img src="img/product-card__2.png", srcset="img/product-card__2.png 2x" alt="">
    .gallery-main__slide.swiper-slide(href="img/product-card__2.png" srcset="img/product-card__2.png 2x" data-filter="02" data-fancybox="product-card__slider"  data-caption="Большое нзвание для фото 1")      
      <img src="img/product-card__2.png", srcset="img/product-card__2.png 2x" alt="">
    .gallery-main__slide.swiper-slide(href="img/product-card__2.png" srcset="img/product-card__2.png 2x" data-filter="02" data-fancybox="product-card__slider"  data-caption="Большое нзвание для фото 1")      
      <img src="img/product-card__2.png", srcset="img/product-card__2.png 2x" alt="">
    .gallery-main__slide.swiper-slide(href="img/product-card__2.png" srcset="img/product-card__2.png 2x" data-filter="02" data-fancybox="product-card__slider"  data-caption="Большое нзвание для фото 1")      
      <img src="img/product-card__2.png", srcset="img/product-card__2.png 2x" alt="">


    
    .gallery-main__slide.swiper-slide(href="img/product-card__3.png" srcset="img/product-card__3.png 2x" data-filter="03" data-fancybox="product-card__slider"  data-caption="Большое нзвание для фото 1")      
      <img src="img/product-card__3.png", srcset="img/product-card__3.png 2x" alt="">
    .gallery-main__slide.swiper-slide(href="img/product-card__3.png" srcset="img/product-card__3.png 2x" data-filter="03" data-fancybox="product-card__slider"  data-caption="Большое нзвание для фото 1")      
      <img src="img/product-card__3.png", srcset="img/product-card__3.png 2x" alt="">
    .gallery-main__slide.swiper-slide(href="img/product-card__3.png" srcset="img/product-card__3.png 2x" data-filter="03" data-fancybox="product-card__slider"  data-caption="Большое нзвание для фото 1")      
      <img src="img/product-card__3.png", srcset="img/product-card__3.png 2x" alt="">
    .gallery-main__slide.swiper-slide(href="img/product-card__3.png" srcset="img/product-card__3.png 2x" data-filter="03" data-fancybox="product-card__slider"  data-caption="Большое нзвание для фото 1")      
      <img src="img/product-card__3.png", srcset="img/product-card__3.png 2x" alt="">
    .gallery-main__slide.swiper-slide(href="img/product-card__3.png" srcset="img/product-card__3.png 2x" data-filter="03" data-fancybox="product-card__slider"  data-caption="Большое нзвание для фото 1")      
      <img src="img/product-card__3.png", srcset="img/product-card__3.png 2x" alt="">
    .gallery-main__slide.swiper-slide(href="img/product-card__3.png" srcset="img/product-card__3.png 2x" data-filter="03" data-fancybox="product-card__slider"  data-caption="Большое нзвание для фото 1")      
      <img src="img/product-card__3.png", srcset="img/product-card__3.png 2x" alt="">

  .gallery-thumbs__storage
    .swiper-slide(data-filter="01")
      <img src="img/card__picture__1.png" alt="">
    .swiper-slide(data-filter="01")
      <img src="img/card__picture__2.png" alt="">
    .swiper-slide(data-filter="01")
      <img src="img/card__picture__3.png" alt="">
    .swiper-slide(data-filter="01")
      <img src="img/card__picture__4.png" alt="">
    .swiper-slide(data-filter="01")
      <img src="img/card__picture__5.png" alt="">
    .swiper-slide(data-filter="01")
      <img src="img/card__picture__6.png" alt="">
    
    
    .swiper-slide(data-filter="02")
      <img src="img/product-card__2.png" alt="">
    .swiper-slide(data-filter="02")
      <img src="img/product-card__2.png" alt="">
    .swiper-slide(data-filter="02")
      <img src="img/product-card__2.png" alt="">
    .swiper-slide(data-filter="02")
      <img src="img/product-card__2.png" alt="">
    .swiper-slide(data-filter="02")
      <img src="img/product-card__2.png" alt="">
    .swiper-slide(data-filter="02")
      <img src="img/product-card__2.png" alt="">

    
    .swiper-slide(data-filter="03")
      <img src="img/product-card__3.png" alt="">
    .swiper-slide(data-filter="03")
      <img src="img/product-card__3.png" alt="">
    .swiper-slide(data-filter="03")
      <img src="img/product-card__3.png" alt="">
    .swiper-slide(data-filter="03")
      <img src="img/product-card__3.png" alt="">
    .swiper-slide(data-filter="03")
      <img src="img/product-card__3.png" alt="">
    .swiper-slide(data-filter="03")
      <img src="img/product-card__3.png" alt="">

