.product-card {
  &__slider {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-flow: row-reverse nowrap;
    align-items: stretch;
    width: 100%;
    height: 100%;
    border-radius: 0px;
    z-index: 5;
    @include max(md) {
      flex-flow: column-reverse nowrap;
      justify-content: center;
      align-items: center;
      padding: 0px;
      margin-bottom: vw2(30);
    }
    &__wrap {
      position: relative;
      width: 100%;
      &--desc {
        @include max(lg) {
          display: none;
        }
      }
      &--mob {
        display: none;
        @include max(lg) {
          display: block;
        }
      }
    }

  }
  .gallery-main {
    position: relative;
    width: 100%;
    overflow: hidden;
    &__wrap {
      width: calc(100% - vw(124 + 111));
      z-index: 5;
      position: relative;
      @include max(md) {
        width: 100%;
        margin-bottom: vw2(30);
      }
      .swiper-buttons {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        height: vw(49);
        width: 100%;
        max-width: vw(110);
        top: vw(0);
        right: vw(-80);
        left: auto;
        overflow: visible;
        z-index: 15;
        @include max(md) {
          height: vw2(50);
          max-width: 100%;
          top: auto;
          bottom: 0;
          right: auto;
          left: 0;
        }
        .swiper-button-prev,.swiper-button-next {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: vw(49);
            height: vw(49);
            min-width: vw(49);
            min-height: vw(49);
            border-radius: vw(14);
            top: 0;
            @include max(md) {
              width: vw2(49);
              height: vw2(49);
              min-width: vw2(49);
              min-height: vw2(49);
              border-radius: vw2(8);           
          }
            svg {
                width: vw(9.67);
                height: vw(9.67);
                min-width: vw(9.67);
                min-height: vw(9.67);
                @include max(md) {
                    width: vw2(9.67);
                    height: vw2(9.67);
                    min-width: vw2(9.67);
                    min-height: vw2(9.67)                
                }            
            }
            &::after {
                font-size: 0;
                display: none;
            }
      
      
        }
        .swiper-button-prev {
           left: 0;
           top: 0;
      
        }
        .swiper-button-next {
            right: 0;
            top: 0;
      
        }
      }
    }
    @include max(md) {
      width: 100%;
      height: auto;
      margin-bottom: 20px;
    }
    &__slide{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      cursor: pointer;
      // &[data-filter="01"] {
      //   background: #E4E6E8
      // }
      // &[data-filter="02"] {
      //   background: #fff
      // }
      // &[data-filter="03"] {
      //   background: #CECECE
      // }

      &:before {
        content: "";
        width: 100%;
        display: block;
        padding-top: 115.35%;   
        position: relative;
		  @include min(md) {
			  padding-top: 100%;
		  }
      }
      img, picture {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        object-position: center center;
        z-index: 1;
      }
    }
    &__storage {
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-flow: row nowrap;
      width: 100%;
      visibility: hidden;
      display: none;
    }

  }
  
  
  .gallery-thumbs {
    order: -1;
    width: 100%;
    z-index: 5;
    height: 100%;
    max-height: calc(vw(700) - vw(144));
    overflow: hidden;
    margin-bottom: 20px;
    // &__counter {
    //   position: absolute;
    //   left: 0;
    //   bottom: vw(68);
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   width: 100%;
    //   z-index: 100;
    //   box-sizing: border-box;
    //   width: vw(124);
    //   height: vw(124);
    //   padding: vw(20);
    //   cursor: pointer;
    //   border-radius: vw(14);
    //   overflow: hidden;
    //   background: rgba(255, 255, 255, 0.75);
    //   color: #000;
    //   font-size: vw(20);
    //   font-style: normal;
    //   font-weight: 500;
    //   line-height: vw(27);
    //   @include max(md) {
    //     display: none;
    //   }
    // }
    &__counter {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 100;
      box-sizing: border-box;
      // width: calc((100% - 17px * 4) / 5);
      width: vw(124);
      height: vw(124);
      padding: vw(20);
      cursor: pointer;
      border-radius: vw(14);
      overflow: hidden;
      color: #000;
      font-size: vw(20);
      font-style: normal;
      font-weight: 500;
      line-height: vw(27);
      &__velue {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

      }
      &__overlay {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.75);
        img, picture {
          position: relative;
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center center;
        }
        

      }
      &__picture {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        img, picture {
          position: relative;
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center center;
        }
        

      }
      &:before {
        content: "";
        width: 100%;
        display: block;
        padding-top: 100%;   
        position: relative;
        
      }
      @include max(md) {
        display: none;
      }
    }
    &__storage {
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-flow: row nowrap;
      width: 100%;
      visibility: hidden;
      display: none;
    }
    @include max(md) {
      width: 100%;
      height: auto;
      margin-right: 0;
    }
    &__section {
      position: relative;
      display: flex;
      order: -1;
      width: vw(124);
      margin-left: vw(111);
      justify-content: flex-start;
      align-items: flex-start;
      flex-flow: column nowrap;
      @include max(md) {
        width: 100%;
        height: auto;
        margin-left: 0;
      }
    }
    .swiper-slide {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      box-sizing: border-box;
      width: vw(124);
      height: vw(124);
      padding: vw(20);
      cursor: pointer;
      border-radius: vw(14);
      overflow: hidden;
      background: #FFF;
      @include max(md) {
        width: vw2(124);
        height: vw2(124);
        border-radius: vw2(14);
      }
      &:before {
        content: "";
        width: 100%;
        display: block;
        padding-top: 100%;   
        position: relative;
        
      }
      img, picture {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        object-position: center center;
        z-index: 1;
      }
  

  
      &-thumb-active {
        opacity: 1;
        border: 3px solid $green;
        // img {
        //   margin-left: -15px;
        // }
      }
    }
    &__swiper-buttons {
      display: none;
      position: absolute;
      top: 0;
      height: 100%;
      width: 193px;
      @include max(md) {
       display: none;
      }
      .swiper-button-next {
        bottom: 50px;
        top: auto;
        transform: rotate(0deg);
        left: calc(50% - 15px);
        width: 30px;
        height: 30px;
        &::after {
          content: url(../img/svg/button-next.svg);
        }
      }
      .swiper-button-prev {
        bottom: auto;
        top: 60px;
        transform: rotate(0deg);
        left: calc(50% - 15px);
        width: 30px;
        height: 30px;
        &::after {
          content: url(../img/svg/button-prev.svg);
        }
      }
    }
  
  }
  
}

