.product-card {
  &__slider {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-flow: row-reverse nowrap;
    align-items: stretch;
    width: 100%;
    height: 100%;
    border-radius: 0px;
    z-index: 5;
    @include max(md) {
      flex-flow: column-reverse nowrap;
      justify-content: center;
      align-items: center;
      padding: 0px;
      margin-bottom: vw2(30);
    }
    &__wrap {
      position: relative;
      width: 100%;
      &--desc {
        @include max(lg) {
          display: none;
        }
      }
      &--mob {
        display: none;
        @include max(lg) {
          display: block;
        }
      }
    }

  }
  .gallery-main {
    width: calc(100% - vw(124));
    overflow: hidden;
    z-index: 5;
    @include max(md) {
      width: 100%;
      height: auto;
      margin-bottom: 20px;
    }
    &__slide{
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      cursor: pointer;
      // &[data-filter="01"] {
      //   background: #E4E6E8
      // }
      // &[data-filter="02"] {
      //   background: #fff
      // }
      // &[data-filter="03"] {
      //   background: #CECECE
      // }

      &:before {
        content: "";
        width: 100%;
        display: block;
        padding-top: 115.35%;   
        position: relative;
        
      }
      img, picture {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        object-position: center center;
        z-index: 1;
      }
    }
    &__storage {
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-flow: row nowrap;
      width: 100%;
      visibility: hidden;
      display: none;
    }
    .swiper-buttons.gallery-main--swiper-buttons {
      position: absolute;
      
      width: calc(100% - 32px);
      max-width: 100%;
      top: calc(25%);
      left: 16px;
      overflow: visible;
      display: none;
      @include max(md) {
        display: flex;
      }
      .swiper-button-prev,.swiper-button-next {
          width: 28px;
          height: 56px;
          top: 0;
          display: none;
          width: 49px;
          height: 49px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          left: auto;
          right: auto;
          top: auto;
          bottom: auto;
          background: $greyBlack;
          @include max(md) {
              display: flex;
              width: 33px;
              height: 33px;
          }
    
    
      }
      .swiper-button-prev {
          @include max(md) {
            display: none;
          }
          &::after {
              content: url(../img/svg/button-prev.svg);
              @media (max-width: 1450px)  {
                  content: url(../img/svg/gallery-main-prev.svg);   
              }
          }
    
      }
      .swiper-button-next {
        @include max(md) {
          display: none;
        }
          &::after {
              content: url(../img/svg/button-next.svg);
              @media (max-width: 1450px) {
                  content: url(../img/svg/gallery-main-next.svg);   
              }
          }
    
      }
    }
  }
  
  
  .gallery-thumbs {
    order: -1;
    width: 100%;
    z-index: 5;
    height: 100%;
    max-height: calc(vw(700) - vw(144));
    overflow: hidden;
    &__counter {
      position: absolute;
      left: 0;
      bottom: vw(68);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      z-index: 100;
      box-sizing: border-box;
      width: vw(124);
      height: vw(124);
      padding: vw(20);
      cursor: pointer;
      border-radius: vw(14);
      overflow: hidden;
      background: rgba(255, 255, 255, 0.75);
      color: #000;
      font-size: vw(20);
      font-style: normal;
      font-weight: 500;
      line-height: vw(27);
      @include max(md) {
        display: none;
      }
    }
    &__storage {
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-flow: row nowrap;
      width: 100%;
      visibility: hidden;
      display: none;
    }
    @include max(md) {
      width: 100%;
      height: auto;
      margin-right: 0;
    }
    &__section {
      position: relative;
      display: flex;
      order: -1;
      width: vw(124);
      margin-left: vw(111);
      justify-content: flex-start;
      align-items: flex-start;
      @include max(md) {
        width: 100%;
        height: auto;
        margin-left: 0;
      }
    }
    .swiper-slide {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      box-sizing: border-box;
      width: vw(124);
      height: vw(124);
      padding: vw(20);
      cursor: pointer;
      border-radius: vw(14);
      overflow: hidden;
      background: #FFF;
      @include max(md) {
        width: vw2(124);
        height: vw2(124);
        border-radius: vw2(14);
      }
      &:before {
        content: "";
        width: 100%;
        display: block;
        padding-top: 100%;   
        position: relative;
        
      }
      img, picture {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        object-position: center center;
        z-index: 1;
      }
  

  
      &-thumb-active {
        opacity: 1;
        border: 3px solid $green;
        // img {
        //   margin-left: -15px;
        // }
      }
    }
    &__swiper-buttons {
      display: none;
      position: absolute;
      top: 0;
      height: 100%;
      width: 193px;
      @include max(md) {
       display: none;
      }
      .swiper-button-next {
        bottom: 50px;
        top: auto;
        transform: rotate(0deg);
        left: calc(50% - 15px);
        width: 30px;
        height: 30px;
        &::after {
          content: url(../img/svg/button-next.svg);
        }
      }
      .swiper-button-prev {
        bottom: auto;
        top: 60px;
        transform: rotate(0deg);
        left: calc(50% - 15px);
        width: 30px;
        height: 30px;
        &::after {
          content: url(../img/svg/button-prev.svg);
        }
      }
    }
  
  }
  
}

