.side-bar {
	position: fixed;
	top: vw(-100);
	left: vw(30);
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-flow: column nowrap;
	z-index: 50;
	transition: all 0.3s;
	visibility: hidden;
	@include max(md) {
			display: none;
	} 
	&.active {
			position: fixed;
			top: vw(130);
			left: vw(30);
			transition: all 0.3s;
			visibility: inherit;
	}

	&__list {
			position: relative;
			display: flex;
			justify-content: flex-start;
			align-items: flex-start;
			flex-flow: column nowrap;
			width: 100%;
			padding-left: vw(32);
			border-left: 1px solid rgba(255, 255, 255, 0.2);
			border-left-style: dashed;
			padding-top: 0;
			margin-top: 0;
			color: rgba(255, 255, 255, 0.3);
			font-size: vw(24);
			font-style: normal;
			font-weight: 500;
			line-height: 30px; /* 125% */
			letter-spacing: vw(-0.4);
			.side-bar__item, a , li {
				position: relative;
				list-style-type: none;
				color: rgba(255, 255, 255, 0.3);
				font-size: vw(24);
				font-style: normal;
				font-weight: 500;
				line-height: 30px; /* 125% */
				letter-spacing: vw(-0.4);
				margin-bottom: vw(18);
				text-decoration: none;
				&:last-child {
					margin-bottom: 0;
				}
				&.active {
					color: rgba(255, 255, 255, 1);
					&::before {
							content: '';
							display: block;
							height: 100%;
							width: 1px;
							background-color: #fff;
							left: vw(-33.5);
							top: 0;
							position: absolute;
						}
				}

			}
	}
	&.blue {
			.side-bar__list {
					border-left: 1px solid rgba(255, 255, 255, 0.2);
					color: rgba(255, 255, 255, 0.3);
					border-left-style: dashed;
			}
			.side-bar__item {
					color: rgba(255, 255, 255, 0.3);
					&.active {
							color: rgba(255, 255, 255, 1);
							&::before {
									background-color: #fff;
									}                   

					}
					
			}
	}
	&.white {
			.side-bar__list {
					border-left: 1px solid rgba(33, 42, 57, 0.3);
					color: rgba(33, 42, 57, 0.3);
					border-left-style: dashed;
			}
			.side-bar__item {
					color: #212A39;
					&.active {
							&::before {
									background-color: #212A39;
									}                   

					}
			}
	}
	&.gray {
			.side-bar__list {
					border-left: 1px solid rgba(33, 42, 57, 0.3);
					color: rgba(33, 42, 57, 0.3);
					border-left-style: dashed;
			}
			.side-bar__item {
					color: #212A39;
					&.active {
							&::before {
									background-color: #212A39;
									}                   

					}
			}
	}
}
