
.side-bar
	ul.side-bar__list
		li
			a(href="#main1" data-gsap-scroll).side-bar__item.side-bar__item--start.active  О нас
		li
			a(href="#main2" data-gsap-scroll).side-bar__item Продукция
		li
			a(href="#main3").side-bar__item Преимущества
		li
			a(href="#main4").side-bar__item Сертификаты
		li
			a(href="#main5").side-bar__item Нас выбрали
