extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Company card Page"

block content
	.header-bg.header-bg--combine
		.container
			.layout
				.layout__col
				.layout__col
	.section.company-card__section.section--gray
		.container
			.layout
				.layout__col
					.btn.btn--back.btn--white.company-card__back
						<svg xmlns="http://www.w3.org/2000/svg" width="9" height="14" viewBox="0 0 9 14" fill="none">
						<path d="M3.40969 6.84261L8.62294 12.0559L7.00321 13.6756L1.78997 8.46233L0.163818 6.83618L1.78345 5.21637L7 0L8.62615 1.62615L3.40969 6.84261Z" fill="#212A39"/>
						</svg>
						p
							!="назад"
					.company-card__title.text__13 Кабина в проекте
					.company-card__list
						a(href="#").box-more.card.card--company
							.card__title
								!="Курительные  <br>кабины"
							.card__picture 
								img(src="img/card__picture__1.png", alt="")
							.card__bottom
								.card__bottom__text.text__16
									!=""
								.card__bottom__btn.btn
										<svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19" fill="none">
										<path d="M10.2143 7.86522H18V10.2842H10.2143V18.0747H7.78571V10.2842H0V7.86522H7.78571V0.074707H10.2143V7.86522Z" fill="white"/>
										</svg>
			
						a(href="#").box-more.card.card--company
							.card__title
								!="Курительные  <br>кабины"
							.card__picture 
								img(src="img/card__picture__1.png", alt="")
							.card__bottom
								.card__bottom__text.text__16
									!=""
								.card__bottom__btn.btn
										<svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19" fill="none">
										<path d="M10.2143 7.86522H18V10.2842H10.2143V18.0747H7.78571V10.2842H0V7.86522H7.78571V0.074707H10.2143V7.86522Z" fill="white"/>
										</svg>
			
						a(href="#").box-more.card.card--company
							.card__title
								!="Курительные  <br>кабины"
							.card__picture 
								img(src="img/card__picture__1.png", alt="")
							.card__bottom
								.card__bottom__text.text__16
									!=""
								.card__bottom__btn.btn
										<svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19" fill="none">
										<path d="M10.2143 7.86522H18V10.2842H10.2143V18.0747H7.78571V10.2842H0V7.86522H7.78571V0.074707H10.2143V7.86522Z" fill="white"/>
										</svg>
						
						a(href="#").box-more.card.card--company
							.card__title
								!="Курительные  <br>кабины"
							.card__picture 
								img(src="img/card__picture__1.png", alt="")
							.card__bottom
								.card__bottom__text.text__16
									!=""
								.card__bottom__btn.btn
										<svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19" fill="none">
										<path d="M10.2143 7.86522H18V10.2842H10.2143V18.0747H7.78571V10.2842H0V7.86522H7.78571V0.074707H10.2143V7.86522Z" fill="white"/>
										</svg>
			
						a(href="#").box-more.card.card--company
							.card__title
								!="Курительные  <br>кабины"
							.card__picture 
								img(src="img/card__picture__1.png", alt="")
							.card__bottom
								.card__bottom__text.text__16
									!=""
								.card__bottom__btn.btn
										<svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19" fill="none">
										<path d="M10.2143 7.86522H18V10.2842H10.2143V18.0747H7.78571V10.2842H0V7.86522H7.78571V0.074707H10.2143V7.86522Z" fill="white"/>
										</svg>
			
						a(href="#").box-more.card.card--company
							.card__title
								!="Курительные  <br>кабины"
							.card__picture 
								img(src="img/card__picture__1.png", alt="")
							.card__bottom
								.card__bottom__text.text__16
									!=""
								.card__bottom__btn.btn
										<svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19" fill="none">
										<path d="M10.2143 7.86522H18V10.2842H10.2143V18.0747H7.78571V10.2842H0V7.86522H7.78571V0.074707H10.2143V7.86522Z" fill="white"/>
										</svg>
						
						a(href="#").box-more.card.card--company
							.card__title
								!="Курительные  <br>кабины"
							.card__picture 
								img(src="img/card__picture__1.png", alt="")
							.card__bottom
								.card__bottom__text.text__16
									!=""
								.card__bottom__btn.btn
										<svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19" fill="none">
										<path d="M10.2143 7.86522H18V10.2842H10.2143V18.0747H7.78571V10.2842H0V7.86522H7.78571V0.074707H10.2143V7.86522Z" fill="white"/>
										</svg>
			
						a(href="#").box-more.card.card--company
							.card__title
								!="Курительные  <br>кабины"
							.card__picture 
								img(src="img/card__picture__1.png", alt="")
							.card__bottom
								.card__bottom__text.text__16
									!=""
								.card__bottom__btn.btn
										<svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19" fill="none">
										<path d="M10.2143 7.86522H18V10.2842H10.2143V18.0747H7.78571V10.2842H0V7.86522H7.78571V0.074707H10.2143V7.86522Z" fill="white"/>
										</svg>
			
						a(href="#").box-more.card.card--company
							.card__title
								!="Курительные  <br>кабины"
							.card__picture 
								img(src="img/card__picture__1.png", alt="")
							.card__bottom
								.card__bottom__text.text__16
									!=""
								.card__bottom__btn.btn
										<svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19" fill="none">
										<path d="M10.2143 7.86522H18V10.2842H10.2143V18.0747H7.78571V10.2842H0V7.86522H7.78571V0.074707H10.2143V7.86522Z" fill="white"/>
										</svg>
						
					.articles__btn.btn.btn--white.more Показать еще			
				.layout__col
					.company-card__desc
						.company-card__desc__top
							.company-card__desc__title.title__40 Оzon
							.company-card__desc__logo
								img(src="img/company-card__desc__logo__1.png", alt="")
						.company-card__desc__text.text__20
							!="Курительная комната на 20 человек, выполненная по индивидуальному проекту.Курительная комната на 20 человек, выполненная по индивидуальному проекту.Курительная комната на 20 человек, выполненная по индивидуальному проекту.Курительная комната на 20 человек, выполненная по индивидуальному проекту."
					include ../../blocks/components/portfolio/portfolio