extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Company card Page"

block content
	.header-bg.header-bg--combine
		.container
			.layout
				.layout__col
				.layout__col
	.section.company-card__section.section--gray
		.container
			.layout
				.layout__col
					.btn.btn--back.btn--white.company-card__back
						<svg xmlns="http://www.w3.org/2000/svg" width="9" height="14" viewBox="0 0 9 14" fill="none">
						<path d="M3.40969 6.84261L8.62294 12.0559L7.00321 13.6756L1.78997 8.46233L0.163818 6.83618L1.78345 5.21637L7 0L8.62615 1.62615L3.40969 6.84261Z" fill="#212A39"/>
						</svg>
						p
							!="назад"
					.company-card__title.text__13 Кабина в проекте
					.company-card__list
						a(href="#").box-more.card.card--company
							.card__title
								!="Курительные  <br>кабины"
							.card__picture 
								img(src="img/card__picture__1.png", alt="")
							.card__bottom
								.card__bottom__text.text__16
									!=""
								.card__bottom__btn.btn
										<svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19" fill="none">
										<path d="M10.2143 7.86522H18V10.2842H10.2143V18.0747H7.78571V10.2842H0V7.86522H7.78571V0.074707H10.2143V7.86522Z" fill="white"/>
										</svg>
			
						a(href="#").box-more.card.card--company
							.card__title
								!="Курительные  <br>кабины"
							.card__picture 
								img(src="img/card__picture__1.png", alt="")
							.card__bottom
								.card__bottom__text.text__16
									!=""
								.card__bottom__btn.btn
										<svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19" fill="none">
										<path d="M10.2143 7.86522H18V10.2842H10.2143V18.0747H7.78571V10.2842H0V7.86522H7.78571V0.074707H10.2143V7.86522Z" fill="white"/>
										</svg>
			
						a(href="#").box-more.card.card--company
							.card__title
								!="Курительные  <br>кабины"
							.card__picture 
								img(src="img/card__picture__1.png", alt="")
							.card__bottom
								.card__bottom__text.text__16
									!=""
								.card__bottom__btn.btn
										<svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19" fill="none">
										<path d="M10.2143 7.86522H18V10.2842H10.2143V18.0747H7.78571V10.2842H0V7.86522H7.78571V0.074707H10.2143V7.86522Z" fill="white"/>
										</svg>
						
						a(href="#").box-more.card.card--company
							.card__title
								!="Курительные  <br>кабины"
							.card__picture 
								img(src="img/card__picture__1.png", alt="")
							.card__bottom
								.card__bottom__text.text__16
									!=""
								.card__bottom__btn.btn
										<svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19" fill="none">
										<path d="M10.2143 7.86522H18V10.2842H10.2143V18.0747H7.78571V10.2842H0V7.86522H7.78571V0.074707H10.2143V7.86522Z" fill="white"/>
										</svg>
			
						a(href="#").box-more.card.card--company
							.card__title
								!="Курительные  <br>кабины"
							.card__picture 
								img(src="img/card__picture__1.png", alt="")
							.card__bottom
								.card__bottom__text.text__16
									!=""
								.card__bottom__btn.btn
										<svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19" fill="none">
										<path d="M10.2143 7.86522H18V10.2842H10.2143V18.0747H7.78571V10.2842H0V7.86522H7.78571V0.074707H10.2143V7.86522Z" fill="white"/>
										</svg>
			
						a(href="#").box-more.card.card--company
							.card__title
								!="Курительные  <br>кабины"
							.card__picture 
								img(src="img/card__picture__1.png", alt="")
							.card__bottom
								.card__bottom__text.text__16
									!=""
								.card__bottom__btn.btn
										<svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19" fill="none">
										<path d="M10.2143 7.86522H18V10.2842H10.2143V18.0747H7.78571V10.2842H0V7.86522H7.78571V0.074707H10.2143V7.86522Z" fill="white"/>
										</svg>
						
						a(href="#").box-more.card.card--company
							.card__title
								!="Курительные  <br>кабины"
							.card__picture 
								img(src="img/card__picture__1.png", alt="")
							.card__bottom
								.card__bottom__text.text__16
									!=""
								.card__bottom__btn.btn
										<svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19" fill="none">
										<path d="M10.2143 7.86522H18V10.2842H10.2143V18.0747H7.78571V10.2842H0V7.86522H7.78571V0.074707H10.2143V7.86522Z" fill="white"/>
										</svg>
			
						a(href="#").box-more.card.card--company
							.card__title
								!="Курительные  <br>кабины"
							.card__picture 
								img(src="img/card__picture__1.png", alt="")
							.card__bottom
								.card__bottom__text.text__16
									!=""
								.card__bottom__btn.btn
										<svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19" fill="none">
										<path d="M10.2143 7.86522H18V10.2842H10.2143V18.0747H7.78571V10.2842H0V7.86522H7.78571V0.074707H10.2143V7.86522Z" fill="white"/>
										</svg>
			
						a(href="#").box-more.card.card--company
							.card__title
								!="Курительные  <br>кабины"
							.card__picture 
								img(src="img/card__picture__1.png", alt="")
							.card__bottom
								.card__bottom__text.text__16
									!=""
								.card__bottom__btn.btn
										<svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19" fill="none">
										<path d="M10.2143 7.86522H18V10.2842H10.2143V18.0747H7.78571V10.2842H0V7.86522H7.78571V0.074707H10.2143V7.86522Z" fill="white"/>
										</svg>
						
					.articles__btn.btn.btn--white.more Показать еще			
				.layout__col
					.company-card__desc
						.company-card__desc__top
							.company-card__desc__title.title__40 Оzon
							.company-card__desc__logo
								img(src="img/company-card__desc__logo__1.png", alt="")
						.company-card__desc__text.text__20
							!="Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima sit voluptate asperiores nemo, voluptatem nostrum earum esse? Quibusdam, aperiam adipisci sequi aut expedita temporibus deserunt alias? Saepe magni tempore nam quisquam doloremque sint soluta sapiente id esse consequuntur in fuga unde officiis veniam, dolorum quasi dignissimos odit, rerum reiciendis officia reprehenderit totam? Placeat voluptatibus impedit nihil error obcaecati, et aliquam quidem doloribus illo dolores enim sunt expedita? Veritatis repudiandae, aspernatur aliquam beatae similique blanditiis aut porro odio provident fuga sit quis id magnam molestias, dolor et, dicta possimus minima illo temporibus reprehenderit necessitatibus. Eaque pariatur, asperiores eligendi beatae necessitatibus fugit facilis architecto fugiat veritatis numquam ipsum? Provident quidem voluptas iure vero ullam sapiente, impedit reiciendis porro. Quod magnam deleniti nemo consequatur modi laborum ex rem amet ea! Dolor quia laborum illo atque porro beatae reiciendis sunt commodi? Veniam sed laborum, officia quam fugit ipsa, quos voluptates dignissimos aut eveniet repellat illum ducimus repellendus vitae aperiam quas accusantium alias ipsam incidunt? Nulla obcaecati, perferendis voluptatibus quod est adipisci esse expedita sint, architecto iste quo accusantium laboriosam nostrum magni asperiores a! In velit modi temporibus quo natus dolores officia iusto. Id est distinctio nostrum impedit consequatur laboriosam praesentium corrupti deleniti, iure quae aliquid non omnis aspernatur quisquam maiores animi unde velit temporibus modi odio nisi nobis commodi veritatis esse! Optio vero id aliquam laborum autem maxime incidunt placeat iusto odit, tempora ab ipsum cumque officia nam excepturi vitae eligendi numquam sed veritatis odio nesciunt quas. Accusantium, perferendis incidunt quod praesentium amet error tenetur enim ipsum in sequi veritatis adipisci voluptates quibusdam porro assumenda deserunt officiis illo dolor expedita quos, id numquam est cupiditate. Minus magnam placeat culpa quo itaque et, molestias accusantium exercitationem, eum ullam perspiciatis ipsum iusto voluptates excepturi, iure eius suscipit ducimus temporibus ratione sit dolores. Minima et, rem debitis, atque est laudantium magni voluptate eum natus cumque odio reprehenderit cum sint accusamus totam, modi deleniti quaerat molestias impedit veritatis tenetur mollitia culpa excepturi in. Itaque sed consequatur, quas perferendis officiis perspiciatis officia odio recusandae explicabo quae quaerat ducimus incidunt iste! Excepturi explicabo expedita aperiam iure, facere, deleniti laboriosam alias doloremque harum blanditiis facilis quo quis enim. Commodi pariatur quos quisquam eligendi ducimus tempore beatae corrupti, sit odit illum voluptatem laboriosam optio culpa sed fuga saepe vero ex magnam autem temporibus eaque molestias aliquam earum totam? Est aut et, dolor vel saepe qui fugiat eos adipisci, omnis iusto mollitia illo blanditiis non quasi debitis harum velit facere eius possimus ipsam! Neque eligendi non dolor deleniti natus quam ullam beatae odio vitae incidunt, rem soluta quibusdam voluptas, modi veniam blanditiis iste, quo cupiditate doloremque illum laborum fugit? Perspiciatis possimus sint vero ratione rerum, at maxime eum magnam atque a consequuntur recusandae maiores laudantium doloribus ad doloremque, eligendi est? Alias laborum voluptate repellendus non voluptatum ipsa? Officia dicta, vitae vel optio et tenetur sunt ipsum corrupti alias consequatur tempora voluptas dolores facilis ad deserunt ipsa exercitationem asperiores voluptatum ipsam illum aperiam. Iste repellat provident ratione tempore quo hic cum similique veritatis magni maxime reiciendis quia quod ipsum, soluta alias inventore ipsa ad! Sit beatae mollitia repellat nobis aperiam exercitationem, quo, consequatur nihil possimus quaerat ut impedit harum perferendis distinctio reiciendis accusamus eaque laudantium dolores nam dicta expedita! Tempora, eligendi explicabo sunt tempore consequuntur sapiente dolorum minus quam fugit facilis labore eveniet eius voluptatibus expedita. Magni, quo inventore ducimus excepturi sunt rerum unde repellat veniam adipisci quos, explicabo cupiditate distinctio asperiores mollitia nisi consequuntur incidunt itaque velit debitis pariatur facilis dolor repudiandae soluta facere. Quod, unde hic nulla ipsa labore nobis architecto et quidem omnis quis aliquid? Quis explicabo placeat est illo amet voluptate eius, aperiam eum quibusdam ipsum consectetur sit exercitationem incidunt repellendus quia neque iure recusandae porro iusto veniam dignissimos vero? Nemo at debitis, sit ex vel reiciendis sapiente illum accusamus labore qui, molestiae aut, recusandae repellendus doloribus unde. Ab hic itaque repellat eveniet facilis soluta quod voluptates beatae cupiditate voluptatum? Est perferendis delectus quaerat et fugit iste! Dolorem corporis, libero recusandae totam sit eos. Praesentium, eligendi! Excepturi obcaecati, tenetur tempora harum sunt officiis deserunt aliquam ducimus magni, assumenda delectus omnis, facere laborum! Voluptatum impedit laudantium quos nihil nostrum iure aliquam deserunt voluptatibus quis, laboriosam quae, error autem illum culpa corrupti, at minima molestias! Ipsam rerum ducimus sed facere dicta quae cupiditate recusandae inventore culpa nemo maiores, praesentium totam repellat blanditiis dolor earum tenetur ipsa vitae modi cumque nihil odit ullam harum? Explicabo, ad doloribus autem, deserunt accusantium ex, perferendis similique error nihil dicta laboriosam repellendus maiores alias optio officia magni doloremque. Eius consectetur nulla dolores odit natus necessitatibus rerum blanditiis voluptate reiciendis libero quisquam esse, iusto repudiandae voluptas dicta ipsam doloremque fugit magnam itaque provident! Earum recusandae illum minima assumenda commodi odio, cumque nam optio nemo quae, ut rerum temporibus deleniti veritatis voluptatum, vitae saepe repellat ducimus sapiente. Consequuntur sit aperiam tempore velit ad optio magni aspernatur necessitatibus est labore. Illo ex minima ullam expedita eos quo eligendi maiores sunt iusto pariatur, consequuntur mollitia porro quia magnam omnis, fugiat libero deleniti, odio repudiandae. Aliquid inventore tenetur non ratione hic quae debitis ut iure aspernatur, saepe illum alias cum vitae? Neque harum dicta, deserunt magnam odit consequatur accusamus molestiae vero quibusdam praesentium, ea possimus, est quo suscipit consequuntur eaque! Porro eos dignissimos omnis voluptas odio esse adipisci doloremque error eius quasi eveniet, hic tempore repellat asperiores ab suscipit, fugit maiores, officia impedit animi voluptatibus labore quidem? Repudiandae numquam aliquid qui quam consectetur, hic exercitationem sed assumenda laborum autem culpa incidunt at quas fugit excepturi inventore reiciendis omnis deserunt dolore totam ex accusantium pariatur! Ab ipsa nulla voluptates laudantium sint corporis laborum explicabo natus quos reiciendis fugiat, maiores aliquam architecto. Quia error libero et aut quasi, laborum asperiores architecto incidunt id soluta ratione sit voluptate facere minus ut nihil! Excepturi saepe assumenda, velit, rem ullam explicabo amet adipisci placeat perferendis quis quos sint eveniet dicta maiores, libero rerum nihil officiis pariatur quaerat sit similique mollitia tempora cupiditate ipsum. Est ab atque ullam asperiores adipisci totam, aspernatur esse aperiam, culpa, iste fuga ea. Курительная комната на 20 человек, выполненная по индивидуальному проекту.Курительная комната на 20 человек, выполненная по индивидуальному проекту.Курительная комната на 20 человек, выполненная по индивидуальному проекту.Курительная комната на 20 человек, выполненная по индивидуальному проекту."
					include ../../blocks/components/portfolio/portfolio