extends ../layouts/default
include ../helpers/mixins

block variables
	- const title = "Rent Page";

block content
	.header-bg.header-bg--full-gray
		.container
			.layout
				.layout__col
				.layout__col
	include ../../blocks/modules/breadcrumbs/breadcrumbs
	.section.article__section.section--gray
		.articles
			.container
				.btn.btn--back.btn--white.article__btn
					<svg xmlns="http://www.w3.org/2000/svg" width="9" height="14" viewBox="0 0 9 14" fill="none">
					<path d="M3.40969 6.84261L8.62294 12.0559L7.00321 13.6756L1.78997 8.46233L0.163818 6.83618L1.78345 5.21637L7 0L8.62615 1.62615L3.40969 6.84261Z" fill="#212A39"/>
					</svg>
					p
						!="назад"
				.layout--reverse
					.layout--reverse__col
						.title__95 Аренда
					.layout--reverse__col
						.article__content
							.text-block
								h1.article__content__title
									!="Вентиляторы <br>для курительных <br>комнат"
								p
									!="Одним из наиболее важных моментов при обустройстве мест для курения на территории различных предприятий является обустройство системы вентиляции воздуха. Для этого может использоваться специальная вытяжка или воздухоочиститель. Вытяжки для курительных комнат могут работать по принципу смешивания загрязненного воздуха с приточным. Таким образом, концентрация вредных веществ в воздухе значительно уменьшается, но загрязненный воздух может попадать за пределы места для курения. Такие системы вентиляции имеют низкую стоимость, но они малоэффективны. Более современные вытяжки и вентиляторы для курительных комнат обеспечивают полную замену загрязненного воздуха приточным, тем самым обеспечивая его очистку от вредных веществ и неприятного запаха табачного дыма. Такие системы более эффективны, но имеют более сложное исполнение и высокую стоимость установки. Еще одним эффективным способом борьбы с загрязнением воздуха в местах для курения является установка специальных воздухоочистителей. Они могут не только эффективно очищать воздух в помещении, но также ионизировать его. Воздухоочистители имеют различные варианты установки и делятся на напольные, настенные и потолочные. Потолочные модели, как правило, имеют автоматическое управление и могут оснащаться датчиками движения и освещенности. Напольные и настенные модели очистителей воздуха могут иметь как ручное, так и автоматическое управление. Воздухоочистители для курительных комнат имеют различные режимы работы, которые выбираются исходя из уровня задымленности помещения. Установка эффективной системы вентиляции или воздухоочистителя в комнатах для курения помогает бороться с табачным дымом и запахом, а также вредными веществами, образующимися в процессе курения табака.Одним из наиболее важных моментов при обустройстве мест для курения на территории различных предприятий является обустройство системы вентиляции воздуха. Для этого может использоваться специальная вытяжка или воздухоочиститель. Вытяжки для курительных комнат могут работать по принципу смешивания загрязненного воздуха с приточным. Таким образом, концентрация вредных веществ в воздухе значительно уменьшается, но загрязненный воздух может попадать за пределы места для курения. Такие системы вентиляции имеют низкую стоимость, но они малоэффективны. Более современные вытяжки и вентиляторы для курительных комнат обеспечивают полную замену загрязненного воздуха приточным, тем самым обеспечивая его очистку от вредных веществ и неприятного запаха табачного дыма. Такие системы более эффективны, но имеют более сложное исполнение и высокую стоимость установки. Еще одним эффективным способом борьбы с загрязнением воздуха в местах для курения является установка специальных воздухоочистителей. Они могут не только эффективно очищать воздух в помещении, но также ионизировать его. Воздухоочистители имеют различные варианты установки и делятся на напольные, настенные и потолочные. Потолочные модели, как правило, имеют автоматическое управление и могут оснащаться датчиками движения и освещенности. Напольные и настенные модели очистителей воздуха могут иметь как ручное, так и автоматическое управление. Воздухоочистители для курительных комнат имеют различные режимы работы, которые выбираются исходя из уровня задымленности помещения. Установка эффективной системы вентиляции или воздухоочистителя в комнатах для курения помогает бороться с табачным дымом и запахом, а также вредными веществами, образующимися в процессе курения табака."