extends layouts/default
include helpers/mixins

block variables
	- const title = "Dialogue Main"

block content
	.header-bg.header-bg--combine
		.container
			.layout
				.layout__col
				.layout__col
	.section.start__section.section--white
		.container
			.layout
				.layout__col
					.start
						.start__title.title__80
							!="Производственный холдинг Dиалог"
						.start__subtitle.title__40
							!="<span>Самый крупный производитель в России оборудования </span>для удаления и фильтрации табачного дыма"
						a.start__btn.link Подробнее
					.video(href="https://www.youtube.com/watch?v=J7oOamYSKz0" data-fancybox="video"  data-caption="Большое нзвание для фото 1")
						.video__picture
							img(src="img/video.png" alt="")
				.layout__col
					.swiper-container.start__slider.js-start__slider
						.swiper-wrapper
							.start__slide.swiper-slide
								.start__slide__title.title__40 Курительные кабины
								.start__slide__picture
									img(src="img/start__slide__1.png", alt="")
								.start__slide__text.text__16 Небольшое описание данной кабины
							
							.start__slide.swiper-slide
								.start__slide__title.title__40 Курительные кабины
								.start__slide__picture
									img(src="img/start__slide__1.png", alt="")
								.start__slide__text.text__16 Небольшое описание данной кабины
							
							.start__slide.swiper-slide
								.start__slide__title.title__40 Курительные кабины
								.start__slide__picture
									img(src="img/start__slide__1.png", alt="")
								.start__slide__text.text__16 Небольшое описание данной кабины
							
						.swiper-buttons
							.swiper-button-prev
								<svg xmlns="http://www.w3.org/2000/svg" width="9" height="14" viewBox="0 0 9 14" fill="none">
								<path d="M3.40969 6.84261L8.62294 12.0559L7.00321 13.6756L1.78997 8.46233L0.163818 6.83618L1.78345 5.21637L7 0L8.62615 1.62615L3.40969 6.84261Z" fill="white"/>
								</svg>
							.swiper-button-next
								<svg xmlns="http://www.w3.org/2000/svg" width="9" height="14" viewBox="0 0 9 14" fill="none">
								<path d="M5.59031 6.84261L0.377064 12.0559L1.99679 13.6756L7.21003 8.46233L8.83618 6.83618L7.21655 5.21637L2 0L0.37385 1.62615L5.59031 6.84261Z" fill="white"/>
								</svg>
		
	.section(id="main1" data-color="blue").animation__section.section--blue
		.container
			.layout--trio
				.layout--trio__col.js-animation__col--1
				.layout--trio__col.js-animation__col--2
					.animation__title(id="main1" data-color="blue").title__60 
						!='<span class="green">"Dиалог"</span > - российский производитель №1 оборудования <span>для организации эффективных, комфортных и безопасных мест для курения.</span>'
					.animation__desc.animation__desc--mob
						.animation__desc__picture 	
							img(src="img/animation__desc__picture__1.png", alt="")
						.animation__desc__text.text__24
							!="Мы производим полный ассортимент продукции для решения проблем организации мест для курения и удаления табачного дыма. В зависимости от специфики курения в вашей организации, а также от характеристик мест, выделенных под курение сотрудников, Вы можете подобрать оборудование, максимально отвечающее Вашим потребностям, а именно:"
										
					a(href="#").card(id="main2" data-color="blue")
						.card__title
							!="Курительные  <br>кабины"
						.card__picture 
							img(src="img/card__picture__1.png", alt="")
						.card__bottom
							.card__bottom__text.text__16
								!="Для организации автономных мест курения внутри зданий без необходимости выделять отдельное помещение"
							.card__bottom__btn.btn
									<svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19" fill="none">
									<path d="M10.2143 7.86522H18V10.2842H10.2143V18.0747H7.78571V10.2842H0V7.86522H7.78571V0.074707H10.2143V7.86522Z" fill="white"/>
									</svg>									
					a(href="#").card
						.card__title
							!="Уличные павильоны <br>для курения"
						.card__picture 
							img(src="img/card__picture__2.png", alt="")
						.card__bottom
							.card__bottom__text.text__16
								!="Для организации автономных мест курения внутри зданий без необходимости выделять отдельное помещение"
							.card__bottom__btn.btn
									<svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19" fill="none">
									<path d="M10.2143 7.86522H18V10.2842H10.2143V18.0747H7.78571V10.2842H0V7.86522H7.78571V0.074707H10.2143V7.86522Z" fill="white"/>
									</svg>									
					a(href="#").card
						.card__title
							!="Курительные  <br>столы"
						.card__picture 
							img(src="img/card__picture__3.png", alt="")
						.card__bottom
							.card__bottom__text.text__16
								!="Для организации автономных мест курения внутри зданий без необходимости выделять отдельное помещение"
							.card__bottom__btn.btn
									<svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19" fill="none">
									<path d="M10.2143 7.86522H18V10.2842H10.2143V18.0747H7.78571V10.2842H0V7.86522H7.78571V0.074707H10.2143V7.86522Z" fill="white"/>
									</svg>									
				.layout--trio__col.js-animation__col--3
					.animation__desc.animation__desc--desktop
						.animation__desc__picture 	
							img(src="img/animation__desc__picture__1.png", alt="")
						.animation__desc__text.text__24
							!="Мы производим полный ассортимент продукции для решения проблем организации мест для курения и удаления табачного дыма. В зависимости от специфики курения в вашей организации, а также от характеристик мест, выделенных под курение сотрудников, Вы можете подобрать оборудование, максимально отвечающее Вашим потребностям, а именно:"
					
					a(href="#").card
						.card__title
							!="Павильоны для курения <br>с вытяжной вентиляцией"
						.card__picture 
							img(src="img/card__picture__4.png", alt="")
						.card__bottom
							.card__bottom__text.text__16
								!="Для организации автономных мест курения внутри зданий без необходимости выделять отдельное помещение"
							.card__bottom__btn.btn
									<svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19" fill="none">
									<path d="M10.2143 7.86522H18V10.2842H10.2143V18.0747H7.78571V10.2842H0V7.86522H7.78571V0.074707H10.2143V7.86522Z" fill="white"/>
									</svg>									
					a(href="#").card
						.card__title
							!="Воздухоочистители от <br>табачного дыма и запаха"
						.card__picture 
							img(src="img/card__picture__5.png", alt="")
						.card__bottom
							.card__bottom__text.text__16
								!="Для организации автономных мест курения внутри зданий без необходимости выделять отдельное помещение"
							.card__bottom__btn.btn
									<svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19" fill="none">
									<path d="M10.2143 7.86522H18V10.2842H10.2143V18.0747H7.78571V10.2842H0V7.86522H7.78571V0.074707H10.2143V7.86522Z" fill="white"/>
									</svg>									
		
					a(href="#").card
						.card__title
							!="Оборудование <br> курительных комнат"
						.card__picture 
							img(src="img/card__picture__6.png", alt="")
						.card__bottom
							.card__bottom__text.text__16
								!="Для организации автономных мест курения внутри зданий без необходимости выделять отдельное помещение"
							.card__bottom__btn.btn
									<svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19" fill="none">
									<path d="M10.2143 7.86522H18V10.2842H10.2143V18.0747H7.78571V10.2842H0V7.86522H7.78571V0.074707H10.2143V7.86522Z" fill="white"/>
									</svg>									
					a(href="#").card.card--opacity
						.card__title
							!="Сервисная<br> служба"
						.card__bottom
							.card__bottom__btn.btn
									<svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19" fill="none">
									<path d="M10.2143 7.86522H18V10.2842H10.2143V18.0747H7.78571V10.2842H0V7.86522H7.78571V0.074707H10.2143V7.86522Z" fill="white"/>
									</svg>					
						
		.animation__bg.animation__bg__1
			img(src="img/animation__bg__1.png", alt="")

	.section(id="main3" data-color="white").industry__section.section--white
		.container
			.layout--trio.industry__slider--all
				.layout--trio__col
				.layout--trio__col
					.swiper-container.industry__slider.industry__slider--one.js-industry--one__slider
						.swiper-wrapper
							.industry__slide.swiper-slide
								.industry__title.title__60 
									!="Почему «Диалог» – производитель <span>№ 1 в России?</span>"
								.industry__desc
									.industry__subtitle.title__32 Производство комплектов фильтров
									.industry__text.text__20 собственное уникальное производство всех компонентов входящих в комплект фильтров "Элемент" и "ДВО"
							
							.industry__slide.swiper-slide
								.industry__title.title__60 
									!="Почему «Диалог» – производитель <span>№ 2 в России?</span>"
								.industry__desc
									.industry__subtitle.title__32 Производство комплектов фильтров
									.industry__text.text__20 собственное уникальное производство всех компонентов входящих в комплект фильтров "Элемент" и "ДВО"
							
							.industry__slide.swiper-slide
								.industry__title.title__60 
									!="Почему «Диалог» – производитель <span>№ 3 в России?</span>"
								.industry__desc
									.industry__subtitle.title__32 Производство комплектов фильтров
									.industry__text.text__20 собственное уникальное производство всех компонентов входящих в комплект фильтров "Элемент" и "ДВО"
							
							.industry__slide.swiper-slide
								.industry__title.title__60 
									!="Почему «Диалог» – производитель <span>№ 4 в России?</span>"
								.industry__desc
									.industry__subtitle.title__32 Производство комплектов фильтров
									.industry__text.text__20 собственное уникальное производство всех компонентов входящих в комплект фильтров "Элемент" и "ДВО"
							
							.industry__slide.swiper-slide
								.industry__title.title__60 
									!="Почему «Диалог» – производитель <span>№ 4 в России?</span>"
								.industry__desc
									.industry__subtitle.title__32 Производство комплектов фильтров
									.industry__text.text__20 собственное уникальное производство всех компонентов входящих в комплект фильтров "Элемент" и "ДВО"
							
				.layout--trio__col
					.swiper-container.industry__slider.industry__slider--two.js-industry--two__slider
						.swiper-wrapper
							.industry__slide.swiper-slide
								.industry__picture 
									img(src="img/industry__picture__1.png", alt="")
							.industry__slide.swiper-slide
								.industry__picture 
									img(src="img/industry__picture__2.jpg", alt="")
							.industry__slide.swiper-slide
								.industry__picture 
									img(src="img/industry__picture__3.jpg", alt="")
							.industry__slide.swiper-slide
								.industry__picture 
									img(src="img/industry__picture__4.jpg", alt="")
						
							.industry__slide.swiper-slide
								.industry__picture 
									img(src="img/industry__picture__4.jpg", alt="")
						
						.swiper-buttons.swiper-buttons--green
							.swiper-button-prev
								<svg xmlns="http://www.w3.org/2000/svg" width="9" height="14" viewBox="0 0 9 14" fill="none">
								<path d="M3.40969 6.84261L8.62294 12.0559L7.00321 13.6756L1.78997 8.46233L0.163818 6.83618L1.78345 5.21637L7 0L8.62615 1.62615L3.40969 6.84261Z" fill="white"/>
								</svg>
							.swiper-button-next
								<svg xmlns="http://www.w3.org/2000/svg" width="9" height="14" viewBox="0 0 9 14" fill="none">
								<path d="M5.59031 6.84261L0.377064 12.0559L1.99679 13.6756L7.21003 8.46233L8.83618 6.83618L7.21655 5.21637L2 0L0.37385 1.62615L5.59031 6.84261Z" fill="white"/>
								</svg>
					.swiper-pagination.swiper-pagination__industry__slider--two
	
	.section(id="main4" data-color="gray").certification__section.section--gray
		.container
			.layout--trio
				.layout--trio__col
				.layout--trio__col
					.certification__title.title__60 	
						!="Сертификация и законодательство"
					.certification__text
						.text-block.blue
							p
								!="Наш производственный холдинг «Диалог» предлагает свои услуги в организации мест курения с использованием курительных кабин, техническое исполнение которых полностью отвечает требованиям нового закона и дает потребителям значительные удобства своею простотой и универсальностью. Курительные кабины «Диалог» надежно и полностью локализуют табачный дым и запахи, благодаря встроенной автоматической системе рециркуляционной воздухоочистки. При этом не требуются подсоединение кабины к системе вентиляции, и не требуется выделение специального изолированного помещения. Кабина может быть установлена в любом удобном месте, позволяющем подключиться к обычной электрической розетке. Встроенная вентиляционная система и подсветка включается автоматически, работает с низким уровнем шума и электропотребления, с автоматическим включением и отключением по окончании пользования."
					a(href="#").certification__btn.btn Подробнее
				.layout--trio__col
					a(href="#").card.card--format
						.card__title
							!="Федеральный закон Российской Федерации от 23 февраля 2013 г. N 15-ФЗ"
						.card__bottom
							.card__bottom__format
								!="<span>PDF</span> 2.5 мб"
							.card__bottom__btn.btn
									<svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19" fill="none">
									<path d="M10.2143 7.86522H18V10.2842H10.2143V18.0747H7.78571V10.2842H0V7.86522H7.78571V0.074707H10.2143V7.86522Z" fill="white"/>
									</svg>		
					a(href="#").card.card--format
						.card__title
							!="Федеральный закон Российской Федерации от 23 февраля 2013 г. N 15-ФЗ"
						.card__bottom
							.card__bottom__format
								!="<span>PDF</span> 2.5 мб"
							.card__bottom__btn.btn
									<svg xmlns="http://www.w3.org/2000/svg" width="18" height="19" viewBox="0 0 18 19" fill="none">
									<path d="M10.2143 7.86522H18V10.2842H10.2143V18.0747H7.78571V10.2842H0V7.86522H7.78571V0.074707H10.2143V7.86522Z" fill="white"/>
									</svg>
	.section(id="main5" data-color="white").clients__section.section--white
		.container
			.layout--trio
				.layout--trio__col
				.layout--trio__col
				.layout--trio__col
			.layout--reverse
				.layout--reverse__col
				.layout--reverse__col
					include ../blocks/components/clients__slider/clients__slider

	include ../blocks/components/side-bar/side-bar