.section.preloader__section.section--gray
	.container
		.preloader__animation
		.layout--trio
			.layout--trio__col
			.layout--trio__col
				.preloader__picture 
					img(src="img/preloader__img.png", alt="")
			.layout--trio__col