.swiper-container.clients__slider.js-clients__slider
	.swiper-wrapper
		.clients__slide.swiper-slide
			img(src="img/clients__slide__1.png", alt="")
	
		.clients__slide.swiper-slide
			img(src="img/clients__slide__2.png", alt="")
	
		.clients__slide.swiper-slide
			img(src="img/clients__slide__3.png", alt="")
	
		.clients__slide.swiper-slide
			img(src="img/clients__slide__1.png", alt="")
	
		.clients__slide.swiper-slide
			img(src="img/clients__slide__2.png", alt="")
	
		.clients__slide.swiper-slide
			img(src="img/clients__slide__3.png", alt="")
	
	.swiper-buttons.swiper-buttons--green
		.swiper-button-prev
			<svg xmlns="http://www.w3.org/2000/svg" width="9" height="14" viewBox="0 0 9 14" fill="none">
			<path d="M3.40969 6.84261L8.62294 12.0559L7.00321 13.6756L1.78997 8.46233L0.163818 6.83618L1.78345 5.21637L7 0L8.62615 1.62615L3.40969 6.84261Z" fill="white"/>
			</svg>
		.swiper-button-next
			<svg xmlns="http://www.w3.org/2000/svg" width="9" height="14" viewBox="0 0 9 14" fill="none">
			<path d="M5.59031 6.84261L0.377064 12.0559L1.99679 13.6756L7.21003 8.46233L8.83618 6.83618L7.21655 5.21637L2 0L0.37385 1.62615L5.59031 6.84261Z" fill="white"/>
			</svg>