.breadcrumbs__section
	.container 
		.breadcrumbs
			a.breadcrumbs__item.text__13 
				| Главная
			a.breadcrumbs__item.text__13 
				| следующая страница
			a.breadcrumbs__item.text__13 
				| Текущая страница