#catalog-bar
	.sidebar__inner
		.catalog-bar
			ul.catalog-bar__list
				li
					a(href="#").catalog-bar__item.active  Каталог
				li
					a(href="#").catalog-bar__item Аренда
				li
					a(href="#").catalog-bar__item Законодательство
				li
					a(href="#").catalog-bar__item Принципы работы
				li
					a(href="#").catalog-bar__item Фильтры сервисы
				li
					a(href="#").catalog-bar__item Статьи
				li
					a(href="#").catalog-bar__item Нас выбрали
				li
					a(href="#").catalog-bar__item 
