footer.footer
	.section.footer__section
		.container
			.layout--trio
				.layout--trio__col
					.footer__title.title__60 
						!='Производственый холдинг <span class="green">Dиалог</span>'
					.footer__politic.footer__politic--desc
						.footer__politic__title.text__16 Dиалог 2023
						.footer__politic__text.text__16 Все права защищены. Использование любых материалов возможно только с разрешения правообладателя.
				.layout--trio__col
					.footer__menu
						a(href="#").footer__menu__link.text__13 каталог
						a(href="#").footer__menu__link.text__13 нас выбрали
						a(href="#").footer__menu__link.text__13 новости
						a(href="#").footer__menu__link.text__13 Контакты
					.footer__menu.footer__menu--contacts
						a(href="tel:+4997847890").footer__menu__link.text__13 (499) 784 78 90 
						a(href="tel:+9039618961").footer__menu__link.text__13 (903) 961 89 61
						a(href="mailto:info@kk-dialog.ru").footer__menu__link.text__13 info@kk-dialog.ru
						a(href="mailto:sales@kk-dialog.ru").footer__menu__link.text__13 sales@kk-dialog.ru
					a(href="#").footer__group.text__16 ITS Group
				.layout--trio__col
					form.contacts__form 
						.contacts__form__title.title__32  Контактная форма
						input(type="text", name="" placeholder="Имя").contacts__form__input.contacts__form__input--name.text__13
						input(type="email", name="" placeholder="Email").contacts__form__input.text__13
						//- input(type="tel", name="" placeholder="Телефон").contacts__form__input.js-mask-phone
						textarea(name="", cols="30", rows="10" placeholder="Сообщение").contacts__form__textarea.text__13
						.contacts__form__bottom
							a(href="#").contacts__form__btn.btn Отправить
							.contacts__form__mess.text__16
								!='Нажатием на кнопку "Отправить" я даю согласие на обработку моих персональных данных.'
								//- <div class="checkbox">
								//- 	<input class="custom-checkbox" type="checkbox" id="color-1" name="color-1" value="indigo">
								//- 	<label for="color-1">"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa</label>
								//- </div>
					.footer__politic.footer__politic--mob
						.footer__politic__title.text__16 Dиалог 2023
						.footer__politic__text.text__16 Все права защищены. Использование любых материалов возможно только с разрешения правообладателя.				


	//.js-btn__modal-form
	<div id="modal-form" class="modal-reg" style="display:none">
		form.contacts__form.contacts__form--white 
			.contacts__form__title.title__32  Контактная форма
			input(type="text", name="" placeholder="Имя").contacts__form__input.contacts__form__input--name.text__13
			input(type="email", name="" placeholder="Email").contacts__form__input.text__13
			//- input(type="tel", name="" placeholder="Телефон").contacts__form__input.js-mask-phone
			textarea(name="", cols="30", rows="10" placeholder="Сообщение").contacts__form__textarea.text__13
			.contacts__form__bottom
				a(href="#").contacts__form__btn.btn Отправить
				.contacts__form__mess.text__16
					!='Нажатием на кнопку "Отправить" я даю согласие на обработку моих персональных данных.'
					//- <div class="checkbox">
					//- 	<input class="custom-checkbox" type="checkbox" id="color-1" name="color-1" value="indigo">
					//- 	<label for="color-1">"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa</label>
					//- </div>

	</div>